.card-image > img {
  height: 128px;
  object-fit: cover;
}

.card-title {
  margin-bottom: 22px;
}
* + .card-title {
  margin-top: 30px;
}

.card-description {
  margin-bottom: 36px;
}

.card-link {
  color: #ff1744;
  font-size: 12px;
  font-weight: 600;
}
