.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
  background-color: #282d33;
  color: #a5adb8;
}
.table thead {
  background-color: #ff1744;
  color: #fff;
}

.table tr {
  border-bottom: 1px solid #d8dbde;
}
.table th,
.table td {
  border-right: 1px solid #d8dbde;
  padding: 8px 16px;
  text-align: center;
}
.table tbody tr:last-child {
  border-bottom: none;
}
.table th:last-child,
.table td:last-child {
  text-align: right;
  border-right: none;
}
